<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javascript Front</title>
  <link rel="stylesheet" href="/styles/base.css">
  <script defer src="/scripts/formulario3.js"></script>
</head>

<body>
  <h1>Formulario3</h1>
  
  <form action="" method="post" id="form1">
      <button type="submit">Enviar</button>
  
  </form>
  
  </body>
</html>