<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javascript Front</title>

  <link rel="stylesheet" href="/styles/formulario4.css">
  <script defer src="/scripts/formulario4.js"></script>
</head>

<body>
<h1 id="titulo">Formulario4</h1>

<select name="" id="mode">
  <option value="claro">claro</option>
  <option value="oscuro">oscuro</option>
</select>

<p id="parrafo1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur ipsam voluptatem reprehenderit debitis quia quos veritatis similique illum exercitationem, a nam qui assumenda aliquid doloremque rem sunt labore. Quod, voluptate. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut enim modi numquam libero in, mollitia nihil neque similique nemo, iusto natus iste quia excepturi quibusdam, vel cum quas fuga sequi.</p>

</body>
</html>