<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javascript Front</title>
  <link rel="stylesheet" href="/styles/base.css">
  <script defer src="/scripts/desaparecerCuadro.js"></script>
</head>

<body>
<h1>Probando Javascript en el FrontEnd</h1>

<ul>
    <li><a href="/ahorcado">Ahorcado</a></li>
    <li><a href="/contador">Contador</a></li>
    <li><a href="/culebrita">Culebrita</a></li>
    <li><a href="/desaparecerCuadro">DesaparecerCuadro</a></li>
    <li><a href="/listar">Listar</a></li>
</ul>

</body>
</html>