<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javascript Front</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/listar.css">
  <script defer src="/scripts/listar.js"></script>
</head>

<body>
<div class="info">
    <h1>Lista de super mercado</h1>
    <input type="text" id="buscar">
</div>

<div class="infos">

</div>
<a href="/">Volver al home</a>
</body>
</html>