body{
    background-color: beige;
    margin: auto;
}

body.oscuro{
    background-color: rgb(36, 36, 36);
    color: rgb(253, 165, 114)
}

#parrafo1{
    font-size: 15px;
    background-color: snow;
    color: sienna;
}

#titulo.oscuro{
    background-color: rgb(56, 56, 56);
    color: rgb(253, 165, 114)
}

#parrafo1.oscuro{
    background-color: rgb(56, 56, 56);
    color: rgb(253, 165, 114)
}

#mode.oscuro option{
    background-color: rgb(56, 56, 56);
    color: snow
}